<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neu.his.dao.DiseaseMapper" >

  <select id="selectWithName" parameterType="String"  resultMap="Diseases">
   SELECT
   disease.id as diseaseId, diagnose_directory_id, international_icd_code, disease_name, disease_mnemonic_code ,diagnose_directory.disease_category_name
    from disease left join diagnose_directory
    on disease.diagnose_directory_id = diagnose_directory.id
    where diagnose_directory.disease_category_name = #{attribute}
</select>
  <select id="query" parameterType="neu.his.bean.DiseaseQuery"  resultMap="Diseases">
   SELECT
   disease.id as diseaseId, diagnose_directory_id, international_icd_code, disease_name, disease_mnemonic_code ,diagnose_directory.disease_category_name
    from disease left join diagnose_directory
    on disease.diagnose_directory_id = diagnose_directory.id
    where diagnose_directory.disease_category_name = '${directory_name}' and  ${attribute_name} like CONCAT('%','${attribute}','%')
</select>
  <resultMap id="Diseases" type="neu.his.bean.Disease">
    <id property="id" column="diseaseId"/>
    <result property="diagnoseDirectoryId" column="diagnose_directory_id"/>
    <result property="internationalIcdCode" column="international_icd_code"/>
    <result property="diseaseName" column="disease_name"/>
    <result property="diseaseMnemonicCode" column="disease_mnemonic_code"/>
    <result property="diagnoseDirectoryName" column="disease_category_name"/>
  </resultMap>

  <insert id="insertDisease" parameterType="neu.his.bean.Disease">
    INSERT  INTO disease (diagnose_directory_id, international_icd_code, disease_name, disease_mnemonic_code)
    SELECT diagnose_directory.id,#{internationalIcdCode},#{diseaseName},#{diseaseMnemonicCode}
    FROM diagnose_directory
    WHERE diagnose_directory.disease_category_name = #{diagnoseDirectoryName}
  </insert>
  <update id="updateDisease" parameterType="neu.his.bean.Disease">
  UPDATE disease
  SET diagnose_directory_id =
  (SELECT diagnose_directory.id
  FROM diagnose_directory
  WHERE disease_category_name = #{diagnoseDirectoryName}),

  international_icd_code = #{internationalIcdCode},

  disease_name = #{diseaseName},

  disease_mnemonic_code = #{diseaseMnemonicCode}

  where disease.id = #{id}
  </update>


  <resultMap id="BaseResultMap" type="neu.his.bean.Disease" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="diagnose_directory_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="international_icd_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="disease_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="disease_mnemonic_code" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, diagnose_directory_id, international_icd_code, disease_name, disease_mnemonic_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="neu.his.bean.DiseaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from disease
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="neu.his.bean.DiseaseExample" >
    delete from disease
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="neu.his.bean.Disease" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into disease
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="diagnoseDirectoryId != null" >
        diagnose_directory_id,
      </if>
      <if test="internationalIcdCode != null" >
        international_icd_code,
      </if>
      <if test="diseaseName != null" >
        disease_name,
      </if>
      <if test="diseaseMnemonicCode != null" >
        disease_mnemonic_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="diagnoseDirectoryId != null" >
        #{diagnoseDirectoryId,jdbcType=INTEGER},
      </if>
      <if test="internationalIcdCode != null" >
        #{internationalIcdCode,jdbcType=VARCHAR},
      </if>
      <if test="diseaseName != null" >
        #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="diseaseMnemonicCode != null" >
        #{diseaseMnemonicCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="neu.his.bean.DiseaseExample" resultType="java.lang.Integer" >
    select count(*) from disease
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update disease
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.diagnoseDirectoryId != null" >
        diagnose_directory_id = #{record.diagnoseDirectoryId,jdbcType=INTEGER},
      </if>
      <if test="record.internationalIcdCode != null" >
        international_icd_code = #{record.internationalIcdCode,jdbcType=VARCHAR},
      </if>
      <if test="record.diseaseName != null" >
        disease_name = #{record.diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.diseaseMnemonicCode != null" >
        disease_mnemonic_code = #{record.diseaseMnemonicCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update disease
    set id = #{record.id,jdbcType=INTEGER},
      diagnose_directory_id = #{record.diagnoseDirectoryId,jdbcType=INTEGER},
      international_icd_code = #{record.internationalIcdCode,jdbcType=VARCHAR},
      disease_name = #{record.diseaseName,jdbcType=VARCHAR},
      disease_mnemonic_code = #{record.diseaseMnemonicCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="neu.his.bean.Disease" >
    update disease
    <set >
      <if test="diagnoseDirectoryId != null" >
        diagnose_directory_id = #{diagnoseDirectoryId,jdbcType=INTEGER},
      </if>
      <if test="internationalIcdCode != null" >
        international_icd_code = #{internationalIcdCode,jdbcType=VARCHAR},
      </if>
      <if test="diseaseName != null" >
        disease_name = #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="diseaseMnemonicCode != null" >
        disease_mnemonic_code = #{diseaseMnemonicCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>